@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar+One&display=swap');

body {
  margin: 0;
font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  list-style-type: none;
  text-decoration: none !important;
}
